# [Cargo]

In [0]:
USE [master]
GO

In [0]:
/****** Object:  Database [Cargo]    Script Date: 3.09.2023 09:44:19 ******/
CREATE DATABASE [Cargo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Cargo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Cargo.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Cargo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Cargo_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
ALTER DATABASE [Cargo] SET COMPATIBILITY_LEVEL = 160
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Cargo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
ALTER DATABASE [Cargo] SET ANSI_NULL_DEFAULT OFF 
GO
ALTER DATABASE [Cargo] SET ANSI_NULLS OFF 
GO
ALTER DATABASE [Cargo] SET ANSI_PADDING OFF 
GO
ALTER DATABASE [Cargo] SET ANSI_WARNINGS OFF 
GO
ALTER DATABASE [Cargo] SET ARITHABORT OFF 
GO
ALTER DATABASE [Cargo] SET AUTO_CLOSE OFF 
GO
ALTER DATABASE [Cargo] SET AUTO_SHRINK OFF 
GO
ALTER DATABASE [Cargo] SET AUTO_UPDATE_STATISTICS ON 
GO
ALTER DATABASE [Cargo] SET CURSOR_CLOSE_ON_COMMIT OFF 
GO
ALTER DATABASE [Cargo] SET CURSOR_DEFAULT  GLOBAL 
GO
ALTER DATABASE [Cargo] SET CONCAT_NULL_YIELDS_NULL OFF 
GO
ALTER DATABASE [Cargo] SET NUMERIC_ROUNDABORT OFF 
GO
ALTER DATABASE [Cargo] SET QUOTED_IDENTIFIER OFF 
GO
ALTER DATABASE [Cargo] SET RECURSIVE_TRIGGERS OFF 
GO
ALTER DATABASE [Cargo] SET  DISABLE_BROKER 
GO
ALTER DATABASE [Cargo] SET AUTO_UPDATE_STATISTICS_ASYNC OFF 
GO
ALTER DATABASE [Cargo] SET DATE_CORRELATION_OPTIMIZATION OFF 
GO
ALTER DATABASE [Cargo] SET TRUSTWORTHY OFF 
GO
ALTER DATABASE [Cargo] SET ALLOW_SNAPSHOT_ISOLATION OFF 
GO
ALTER DATABASE [Cargo] SET PARAMETERIZATION SIMPLE 
GO
ALTER DATABASE [Cargo] SET READ_COMMITTED_SNAPSHOT OFF 
GO
ALTER DATABASE [Cargo] SET HONOR_BROKER_PRIORITY OFF 
GO
ALTER DATABASE [Cargo] SET RECOVERY SIMPLE 
GO
ALTER DATABASE [Cargo] SET  MULTI_USER 
GO
ALTER DATABASE [Cargo] SET PAGE_VERIFY CHECKSUM  
GO
ALTER DATABASE [Cargo] SET DB_CHAINING OFF 
GO
ALTER DATABASE [Cargo] SET FILESTREAM( NON_TRANSACTED_ACCESS = OFF ) 
GO
ALTER DATABASE [Cargo] SET TARGET_RECOVERY_TIME = 60 SECONDS 
GO
ALTER DATABASE [Cargo] SET DELAYED_DURABILITY = DISABLED 
GO
ALTER DATABASE [Cargo] SET ACCELERATED_DATABASE_RECOVERY = OFF  
GO
ALTER DATABASE [Cargo] SET QUERY_STORE = ON
GO
ALTER DATABASE [Cargo] SET QUERY_STORE (OPERATION_MODE = READ_WRITE, CLEANUP_POLICY = (STALE_QUERY_THRESHOLD_DAYS = 30), DATA_FLUSH_INTERVAL_SECONDS = 900, INTERVAL_LENGTH_MINUTES = 60, MAX_STORAGE_SIZE_MB = 1000, QUERY_CAPTURE_MODE = AUTO, SIZE_BASED_CLEANUP_MODE = AUTO, MAX_PLANS_PER_QUERY = 200, WAIT_STATS_CAPTURE_MODE = ON)
GO

# [dbo].[Customer]

In [0]:
USE [Cargo]
GO

In [0]:
/****** Object:  Table [dbo].[Customer]    Script Date: 3.09.2023 09:44:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CustomerNo] [int] IDENTITY(1,1) NOT NULL,
	[CustomerName] [varchar](50) NULL,
	[CustomerAdres] [varchar](50) NULL,
	[CustomerPhone] [char](11) NULL,
	[CustomerMail] [varchar](50) NULL,
	[CustomerPayment] [money] NULL,
	[shipmentNo] [int] NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[CustomerNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Login]

In [0]:
/****** Object:  Table [dbo].[Login]    Script Date: 3.09.2023 09:44:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Login](
	[UserName] [varchar](50) NULL,
	[Password] [varchar](50) NULL
) ON [PRIMARY]
GO

# [dbo].[Personel]

In [0]:
/****** Object:  Table [dbo].[Personel]    Script Date: 3.09.2023 09:44:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personel](
	[PersonelNo] [int] IDENTITY(1,1) NOT NULL,
	[PersonelName] [varchar](50) NULL,
	[PersonelDuty] [varchar](50) NULL,
	[PersonelTitle] [varchar](50) NULL,
	[PersonelTel] [char](11) NULL,
	[PersonelMail] [varchar](50) NULL,
	[PersonelSalary] [money] NULL,
 CONSTRAINT [PK_Personel] PRIMARY KEY CLUSTERED 
(
	[PersonelNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Shipment]

In [0]:
/****** Object:  Table [dbo].[Shipment]    Script Date: 3.09.2023 09:44:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shipment](
	[shipmentNo] [int] IDENTITY(1,1) NOT NULL,
	[shipmentName] [varchar](50) NULL,
	[shipmentPickup] [varchar](50) NULL,
	[shipmentTransport] [varchar](50) NULL,
	[shipmentDistance] [int] NULL,
	[shipmentAmount] [money] NULL,
	[vehiclesNo] [int] NULL,
 CONSTRAINT [PK_Shipment] PRIMARY KEY CLUSTERED 
(
	[shipmentNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Vehicles]

In [0]:
/****** Object:  Table [dbo].[Vehicles]    Script Date: 3.09.2023 09:44:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehicles](
	[vehicleNo] [int] IDENTITY(1,1) NOT NULL,
	[vehicleName] [varchar](50) NULL,
	[vehicleCapacity] [int] NULL,
	[vehicleDriver] [varchar](50) NULL,
	[vehicleExpense] [money] NULL,
	[personelNo] [int] NULL,
 CONSTRAINT [PK_Vehicles] PRIMARY KEY CLUSTERED 
(
	[vehicleNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Customer]

In [0]:
SET IDENTITY_INSERT [dbo].[Customer] ON 
INSERT [dbo].[Customer] ([CustomerNo], [CustomerName], [CustomerAdres], [CustomerPhone], [CustomerMail], [CustomerPayment], [shipmentNo]) VALUES (1, N'Furkan Çalışkan', N'Zeytinburnu', N'05515252654', N'furkan1234567', 32000.0000, 1)
INSERT [dbo].[Customer] ([CustomerNo], [CustomerName], [CustomerAdres], [CustomerPhone], [CustomerMail], [CustomerPayment], [shipmentNo]) VALUES (2, N'Ahmet Güven', N'Aydın caddesi no:23', N'05345354564', N'serdar@gmail.com', 3000.0000, 25)
INSERT [dbo].[Customer] ([CustomerNo], [CustomerName], [CustomerAdres], [CustomerPhone], [CustomerMail], [CustomerPayment], [shipmentNo]) VALUES (8, N'Ali Yılmaz', N'Ankara Caddesi No:10', N'05321234567', N'aliyilmaz@gmail.com', 1000.0000, 22)
INSERT [dbo].[Customer] ([CustomerNo], [CustomerName], [CustomerAdres], [CustomerPhone], [CustomerMail], [CustomerPayment], [shipmentNo]) VALUES (9, N'Mehmet Özcan', N'İzmir Sokak No:20', N'05431234567', N'mehmetozcan@hotmail.com', 1500.0000, 21)
INSERT [dbo].[Customer] ([CustomerNo], [CustomerName], [CustomerAdres], [CustomerPhone], [CustomerMail], [CustomerPayment], [shipmentNo]) VALUES (10, N'Ayşe Demir', N'Antalya Mahallesi No:30', N'05541234567', N'aysedemir@yahoo.com', 2000.0000, 22)
INSERT [dbo].[Customer] ([CustomerNo], [CustomerName], [CustomerAdres], [CustomerPhone], [CustomerMail], [CustomerPayment], [shipmentNo]) VALUES (11, N'Ali Çelik', N'Samsun Bulvarı No:40', N'05651234567', N'alicelik@outlook.com', 2500.0000, 23)
INSERT [dbo].[Customer] ([CustomerNo], [CustomerName], [CustomerAdres], [CustomerPhone], [CustomerMail], [CustomerPayment], [shipmentNo]) VALUES (12, N'Emre Kaya', N'Erzurum Yolu No:50', N'05761234567', N'emrekaya@icloud.com', 3000.0000, 24)
INSERT [dbo].[Customer] ([CustomerNo], [CustomerName], [CustomerAdres], [CustomerPhone], [CustomerMail], [CustomerPayment], [shipmentNo]) VALUES (13, N'Zeynep Yıldız', N'İstanbul Caddesi No:60', N'05331234567', N'zeynepyildiz@gmail.com', 3500.0000, 25)
INSERT [dbo].[Customer] ([CustomerNo], [CustomerName], [CustomerAdres], [CustomerPhone], [CustomerMail], [CustomerPayment], [shipmentNo]) VALUES (14, N'Murat Karaca', N'Bursa Sokak No:70', N'05441234567', N'muratkaraca@hotmail.com', 4000.0000, 7)
INSERT [dbo].[Customer] ([CustomerNo], [CustomerName], [CustomerAdres], [CustomerPhone], [CustomerMail], [CustomerPayment], [shipmentNo]) VALUES (15, N'Seda Öztürk', N'Adana Mahallesi No:80', N'05551234567', N'sedaozturk@yahoo.com', 4500.0000, 8)
INSERT [dbo].[Customer] ([CustomerNo], [CustomerName], [CustomerAdres], [CustomerPhone], [CustomerMail], [CustomerPayment], [shipmentNo]) VALUES (16, N'Can Gül', N'Trabzon Bulvarı No:90', N'05661234567', N'cangul@outlook.com', 5000.0000, 9)
INSERT [dbo].[Customer] ([CustomerNo], [CustomerName], [CustomerAdres], [CustomerPhone], [CustomerMail], [CustomerPayment], [shipmentNo]) VALUES (17, N'Deniz Arslan', N'Van Yolu No:100', N'05771234567', N'denizarslan@icloud.com', 5500.0000, 10)
INSERT [dbo].[Customer] ([CustomerNo], [CustomerName], [CustomerAdres], [CustomerPhone], [CustomerMail], [CustomerPayment], [shipmentNo]) VALUES (18, N'Ebru Akın', N'Konya Caddesi No:110', N'05341234567', N'ebruakin@gmail.com', 6000.0000, 11)
INSERT [dbo].[Customer] ([CustomerNo], [CustomerName], [CustomerAdres], [CustomerPhone], [CustomerMail], [CustomerPayment], [shipmentNo]) VALUES (19, N'Kerem Şahin', N'Kayseri Sokak No:120', N'05451234567', N'keremsahin@hotmail.com', 6500.0000, 12)
INSERT [dbo].[Customer] ([CustomerNo], [CustomerName], [CustomerAdres], [CustomerPhone], [CustomerMail], [CustomerPayment], [shipmentNo]) VALUES (20, N'Bilge Erdoğan', N'Edirne Mahallesi No:130', N'05561234567', N'bilgeerdogan@yahoo.com', 7000.0000, 13)
INSERT [dbo].[Customer] ([CustomerNo], [CustomerName], [CustomerAdres], [CustomerPhone], [CustomerMail], [CustomerPayment], [shipmentNo]) VALUES (21, N'Cem Özdemir', N'Tekirdağ Bulvarı No:140', N'05671234567', N'cemozdemir@outlook.com', 7500.0000, 14)
INSERT [dbo].[Customer] ([CustomerNo], [CustomerName], [CustomerAdres], [CustomerPhone], [CustomerMail], [CustomerPayment], [shipmentNo]) VALUES (22, N'Esra Yavuz', N'Diyarbakır Yolu No:150', N'05781234567', N'esrayavuz@icloud.com', 8000.0000, 15)
INSERT [dbo].[Customer] ([CustomerNo], [CustomerName], [CustomerAdres], [CustomerPhone], [CustomerMail], [CustomerPayment], [shipmentNo]) VALUES (23, N'Fatih Koç', N'Mardin Caddesi No:160', N'05351234567', N'fatihkoc@gmail.com', 8500.0000, 16)
INSERT [dbo].[Customer] ([CustomerNo], [CustomerName], [CustomerAdres], [CustomerPhone], [CustomerMail], [CustomerPayment], [shipmentNo]) VALUES (24, N'Gizem Çetin', N'Eskişehir Sokak No:170', N'05461234567', N'gizemcetin@hotmail.com', 9000.0000, 17)
INSERT [dbo].[Customer] ([CustomerNo], [CustomerName], [CustomerAdres], [CustomerPhone], [CustomerMail], [CustomerPayment], [shipmentNo]) VALUES (25, N'Hakan Özkan', N'Bilecik Mahallesi No:180', N'05571234567', N'hakanozkan@yahoo.com', 9500.0000, 18)
INSERT [dbo].[Customer] ([CustomerNo], [CustomerName], [CustomerAdres], [CustomerPhone], [CustomerMail], [CustomerPayment], [shipmentNo]) VALUES (26, N'İrem Yalçın', N'Muğla Bulvarı No:190', N'05681234567', N'iremyalcin@outlook.com', 10000.0000, 19)
INSERT [dbo].[Customer] ([CustomerNo], [CustomerName], [CustomerAdres], [CustomerPhone], [CustomerMail], [CustomerPayment], [shipmentNo]) VALUES (27, N'Kaan Aydın', N'Denizli Yolu No:200', N'05791234567', N'kaanaydin@icloud.com ', 10500.0000, 20)
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO

# [dbo].[Login]

In [0]:
INSERT [dbo].[Login] ([UserName], [Password]) VALUES (N'admin', N'123')
INSERT [dbo].[Login] ([UserName], [Password]) VALUES (N'seyit', N'553')
GO

# [dbo].[Personel]

In [0]:
SET IDENTITY_INSERT [dbo].[Personel] ON 
INSERT [dbo].[Personel] ([PersonelNo], [PersonelName], [PersonelDuty], [PersonelTitle], [PersonelTel], [PersonelMail], [PersonelSalary]) VALUES (1, N'seyit', N'şube müdürü', N'müdür', N'5538515098 ', N'seydi19981995@gmail.com', 25000.0000)
INSERT [dbo].[Personel] ([PersonelNo], [PersonelName], [PersonelDuty], [PersonelTitle], [PersonelTel], [PersonelMail], [PersonelSalary]) VALUES (3, N'Ahmet Yılmaz', N'Muhasebe', N'Muhasebe Müdürü', N'05321234567', N'ahmet.yilmaz@ornek.com', 10000.0000)
INSERT [dbo].[Personel] ([PersonelNo], [PersonelName], [PersonelDuty], [PersonelTitle], [PersonelTel], [PersonelMail], [PersonelSalary]) VALUES (4, N'Ayşe Demir', N'Satış', N'Satış Temsilcisi', N'05431234568', N'ayse.demir@ornek.com', 5000.0000)
INSERT [dbo].[Personel] ([PersonelNo], [PersonelName], [PersonelDuty], [PersonelTitle], [PersonelTel], [PersonelMail], [PersonelSalary]) VALUES (5, N'Mehmet Öz', N'Pazarlama', N'Pazarlama Uzmanı', N'05541234569', N'mehmet.oz@ornek.com', 6000.0000)
INSERT [dbo].[Personel] ([PersonelNo], [PersonelName], [PersonelDuty], [PersonelTitle], [PersonelTel], [PersonelMail], [PersonelSalary]) VALUES (6, N'Fatma Çelik', N'İnsan Kaynakları', N'İnsan Kaynakları Asistanı', N'05651234570', N'fatma.celik@ornek.com', 4000.0000)
INSERT [dbo].[Personel] ([PersonelNo], [PersonelName], [PersonelDuty], [PersonelTitle], [PersonelTel], [PersonelMail], [PersonelSalary]) VALUES (7, N'Ali Can', N'Üretim', N'Üretim Sorumlusu', N'05761234571', N'ali.can@ornek.com', 7000.0000)
INSERT [dbo].[Personel] ([PersonelNo], [PersonelName], [PersonelDuty], [PersonelTitle], [PersonelTel], [PersonelMail], [PersonelSalary]) VALUES (8, N'Zeynep Yıldız', N'Ar-Ge', N'Ar-Ge Mühendisi', N'05871234572', N'zeynep.yildiz@ornek.com', 8000.0000)
INSERT [dbo].[Personel] ([PersonelNo], [PersonelName], [PersonelDuty], [PersonelTitle], [PersonelTel], [PersonelMail], [PersonelSalary]) VALUES (9, N'Emre Kaya', N'Bilgi İşlem', N'Bilgi İşlem Uzmanı', N'05981234573', N'emre.kaya@ornek.com', 7500.0000)
INSERT [dbo].[Personel] ([PersonelNo], [PersonelName], [PersonelDuty], [PersonelTitle], [PersonelTel], [PersonelMail], [PersonelSalary]) VALUES (10, N'Seda Akın', N'Halkla İlişkiler', N'Halkla İlişkiler Müdürü', N'05091234574', N'seda.akin@ornek.com', 9000.0000)
INSERT [dbo].[Personel] ([PersonelNo], [PersonelName], [PersonelDuty], [PersonelTitle], [PersonelTel], [PersonelMail], [PersonelSalary]) VALUES (11, N'Hasan Koç', N'Lojistik', N'Lojistik Şefi', N'05101234575', N'hasan.koc@ornek.com', 6500.0000)
INSERT [dbo].[Personel] ([PersonelNo], [PersonelName], [PersonelDuty], [PersonelTitle], [PersonelTel], [PersonelMail], [PersonelSalary]) VALUES (12, N'Elif Kara', N'Eğitim', N'Eğitim Koordinatörü', N'05211234576', N'elif.kara@ornek.com', 8500.0000)
INSERT [dbo].[Personel] ([PersonelNo], [PersonelName], [PersonelDuty], [PersonelTitle], [PersonelTel], [PersonelMail], [PersonelSalary]) VALUES (13, N'Murat Gül', N'Kalite Kontrol', N'Kalite Kontrol Uzmanı', N'05301234577', N'murat.gul@ornek.com', 5500.0000)
INSERT [dbo].[Personel] ([PersonelNo], [PersonelName], [PersonelDuty], [PersonelTitle], [PersonelTel], [PersonelMail], [PersonelSalary]) VALUES (14, N'Esra Arslan', N'Müşteri Hizmetleri', N'Müşteri Hizmetleri Temsilcisi', N'05401234578', N'esra.arslan@ornek.com', 4500.0000)
INSERT [dbo].[Personel] ([PersonelNo], [PersonelName], [PersonelDuty], [PersonelTitle], [PersonelTel], [PersonelMail], [PersonelSalary]) VALUES (15, N'Caner Öztürk', N'Yönetim', N'Yönetim Danışmanı', N'05501234579', N'caner.ozturk@ornek.com', 12000.0000)
INSERT [dbo].[Personel] ([PersonelNo], [PersonelName], [PersonelDuty], [PersonelTitle], [PersonelTel], [PersonelMail], [PersonelSalary]) VALUES (16, N'Gizem Şahin', N'Finans', N'Finans Uzmanı', N'05601234580', N'gizem.sahin@ornek.com', 7000.0000)
SET IDENTITY_INSERT [dbo].[Personel] OFF
GO

# [dbo].[Shipment]

In [0]:
SET IDENTITY_INSERT [dbo].[Shipment] ON 
INSERT [dbo].[Shipment] ([shipmentNo], [shipmentName], [shipmentPickup], [shipmentTransport], [shipmentDistance], [shipmentAmount], [vehiclesNo]) VALUES (1, N'yurt içi', N'ağrı', N'istanbul', 1000, 30000.0000, 1)
INSERT [dbo].[Shipment] ([shipmentNo], [shipmentName], [shipmentPickup], [shipmentTransport], [shipmentDistance], [shipmentAmount], [vehiclesNo]) VALUES (6, N'Gönderi 1', N'İstanbul', N'Ankara', 450, 5000.0000, 1)
INSERT [dbo].[Shipment] ([shipmentNo], [shipmentName], [shipmentPickup], [shipmentTransport], [shipmentDistance], [shipmentAmount], [vehiclesNo]) VALUES (7, N'Gönderi 2', N'İzmir', N'Bursa', 300, 4000.0000, 21)
INSERT [dbo].[Shipment] ([shipmentNo], [shipmentName], [shipmentPickup], [shipmentTransport], [shipmentDistance], [shipmentAmount], [vehiclesNo]) VALUES (8, N'Gönderi 3', N'Antalya', N'Adana', 600, 7000.0000, 22)
INSERT [dbo].[Shipment] ([shipmentNo], [shipmentName], [shipmentPickup], [shipmentTransport], [shipmentDistance], [shipmentAmount], [vehiclesNo]) VALUES (9, N'Gönderi 4', N'Samsun', N'Trabzon', 350, 4500.0000, 4)
INSERT [dbo].[Shipment] ([shipmentNo], [shipmentName], [shipmentPickup], [shipmentTransport], [shipmentDistance], [shipmentAmount], [vehiclesNo]) VALUES (10, N'Gönderi 5', N'Erzurum', N'Van', 500, 6000.0000, 5)
INSERT [dbo].[Shipment] ([shipmentNo], [shipmentName], [shipmentPickup], [shipmentTransport], [shipmentDistance], [shipmentAmount], [vehiclesNo]) VALUES (11, N'Gönderi 6', N'Ankara', N'İstanbul', 450, 5000.0000, 6)
INSERT [dbo].[Shipment] ([shipmentNo], [shipmentName], [shipmentPickup], [shipmentTransport], [shipmentDistance], [shipmentAmount], [vehiclesNo]) VALUES (12, N'Gönderi 7', N'Bursa', N'İzmir', 300, 4000.0000, 7)
INSERT [dbo].[Shipment] ([shipmentNo], [shipmentName], [shipmentPickup], [shipmentTransport], [shipmentDistance], [shipmentAmount], [vehiclesNo]) VALUES (13, N'Gönderi 8', N'Adana', N'Antalya', 600, 7000.0000, 8)
INSERT [dbo].[Shipment] ([shipmentNo], [shipmentName], [shipmentPickup], [shipmentTransport], [shipmentDistance], [shipmentAmount], [vehiclesNo]) VALUES (14, N'Gönderi 9', N'Trabzon', N'Samsun', 350, 4500.0000, 9)
INSERT [dbo].[Shipment] ([shipmentNo], [shipmentName], [shipmentPickup], [shipmentTransport], [shipmentDistance], [shipmentAmount], [vehiclesNo]) VALUES (15, N'Gönderi 10', N'Van', N'Erzurum', 500, 6000.0000, 10)
INSERT [dbo].[Shipment] ([shipmentNo], [shipmentName], [shipmentPickup], [shipmentTransport], [shipmentDistance], [shipmentAmount], [vehiclesNo]) VALUES (16, N'Gönderi 11', N'Konya', N'Kayseri', 300, 4000.0000, 11)
INSERT [dbo].[Shipment] ([shipmentNo], [shipmentName], [shipmentPickup], [shipmentTransport], [shipmentDistance], [shipmentAmount], [vehiclesNo]) VALUES (17, N'Gönderi 12', N'Kayseri', N'Konya', 300, 4000.0000, 12)
INSERT [dbo].[Shipment] ([shipmentNo], [shipmentName], [shipmentPickup], [shipmentTransport], [shipmentDistance], [shipmentAmount], [vehiclesNo]) VALUES (18, N'Gönderi 13', N'Edirne', N'Tekirdağ', 200, 3000.0000, 13)
INSERT [dbo].[Shipment] ([shipmentNo], [shipmentName], [shipmentPickup], [shipmentTransport], [shipmentDistance], [shipmentAmount], [vehiclesNo]) VALUES (19, N'Gönderi 14', N'Tekirdağ', N'Edirne', 200, 3000.0000, 14)
INSERT [dbo].[Shipment] ([shipmentNo], [shipmentName], [shipmentPickup], [shipmentTransport], [shipmentDistance], [shipmentAmount], [vehiclesNo]) VALUES (20, N'Gönderi 15', N'Diyarbakır', N'Mardin', 100, 2000.0000, 15)
INSERT [dbo].[Shipment] ([shipmentNo], [shipmentName], [shipmentPickup], [shipmentTransport], [shipmentDistance], [shipmentAmount], [vehiclesNo]) VALUES (21, N'Gönderi 16', N'Mardin', N'Diyarbakır', 100, 2000.0000, 16)
INSERT [dbo].[Shipment] ([shipmentNo], [shipmentName], [shipmentPickup], [shipmentTransport], [shipmentDistance], [shipmentAmount], [vehiclesNo]) VALUES (22, N'Gönderi 17', N'Eskişehir', N'Bilecik', 150, 2500.0000, 4)
INSERT [dbo].[Shipment] ([shipmentNo], [shipmentName], [shipmentPickup], [shipmentTransport], [shipmentDistance], [shipmentAmount], [vehiclesNo]) VALUES (23, N'Gönderi 18', N'Bilecik', N'Eskişehir', 150, 2500.0000, 16)
INSERT [dbo].[Shipment] ([shipmentNo], [shipmentName], [shipmentPickup], [shipmentTransport], [shipmentDistance], [shipmentAmount], [vehiclesNo]) VALUES (24, N'Gönderi 19', N'Muğla', N'Denizli', 250, 3500.0000, 13)
INSERT [dbo].[Shipment] ([shipmentNo], [shipmentName], [shipmentPickup], [shipmentTransport], [shipmentDistance], [shipmentAmount], [vehiclesNo]) VALUES (25, N'Gönderi 20', N'Denizli', N'Muğla', 250, 3500.0000, 5)
SET IDENTITY_INSERT [dbo].[Shipment] OFF
GO

# [dbo].[Vehicles]

In [0]:
SET IDENTITY_INSERT [dbo].[Vehicles] ON 
INSERT [dbo].[Vehicles] ([vehicleNo], [vehicleName], [vehicleCapacity], [vehicleDriver], [vehicleExpense], [personelNo]) VALUES (1, N'Uluslararası tır', 20, N'Ahmet', 3000.0000, 1)
INSERT [dbo].[Vehicles] ([vehicleNo], [vehicleName], [vehicleCapacity], [vehicleDriver], [vehicleExpense], [personelNo]) VALUES (4, N'Ford Transit', 12, N'Ahmet Yılmaz', 2500.0000, 1)
INSERT [dbo].[Vehicles] ([vehicleNo], [vehicleName], [vehicleCapacity], [vehicleDriver], [vehicleExpense], [personelNo]) VALUES (5, N'Renault Master', 10, N'Mehmet Özcan', 2300.0000, 3)
INSERT [dbo].[Vehicles] ([vehicleNo], [vehicleName], [vehicleCapacity], [vehicleDriver], [vehicleExpense], [personelNo]) VALUES (6, N'Toyota Proace', 12, N'Ayşe Demir', 2600.0000, 4)
INSERT [dbo].[Vehicles] ([vehicleNo], [vehicleName], [vehicleCapacity], [vehicleDriver], [vehicleExpense], [personelNo]) VALUES (7, N'Fiat Ducato', 10, N'Ali Çelik', 2200.0000, 5)
INSERT [dbo].[Vehicles] ([vehicleNo], [vehicleName], [vehicleCapacity], [vehicleDriver], [vehicleExpense], [personelNo]) VALUES (8, N'Volkswagen Crafter', 12, N'Emre Kaya', 2700.0000, 16)
INSERT [dbo].[Vehicles] ([vehicleNo], [vehicleName], [vehicleCapacity], [vehicleDriver], [vehicleExpense], [personelNo]) VALUES (9, N'Hyundai H350', 10, N'Zeynep Yıldız', 2400.0000, 6)
INSERT [dbo].[Vehicles] ([vehicleNo], [vehicleName], [vehicleCapacity], [vehicleDriver], [vehicleExpense], [personelNo]) VALUES (10, N'Honda Elysion', 8, N'Murat Karaca', 2100.0000, 7)
INSERT [dbo].[Vehicles] ([vehicleNo], [vehicleName], [vehicleCapacity], [vehicleDriver], [vehicleExpense], [personelNo]) VALUES (11, N'Opel Movano', 10, N'Seda Öztürk', 2300.0000, 8)
INSERT [dbo].[Vehicles] ([vehicleNo], [vehicleName], [vehicleCapacity], [vehicleDriver], [vehicleExpense], [personelNo]) VALUES (12, N'Peugeot Boxer', 10, N'Can Gül', 2200.0000, 9)
INSERT [dbo].[Vehicles] ([vehicleNo], [vehicleName], [vehicleCapacity], [vehicleDriver], [vehicleExpense], [personelNo]) VALUES (13, N'Nissan NV400', 12, N'Deniz Arslan', 2500.0000, 10)
INSERT [dbo].[Vehicles] ([vehicleNo], [vehicleName], [vehicleCapacity], [vehicleDriver], [vehicleExpense], [personelNo]) VALUES (14, N'BMW X5', 7, N'Ebru Akın', 3000.0000, 11)
INSERT [dbo].[Vehicles] ([vehicleNo], [vehicleName], [vehicleCapacity], [vehicleDriver], [vehicleExpense], [personelNo]) VALUES (15, N'Mercedes Sprinter', 12, N'Kerem Şahin', 2800.0000, 12)
INSERT [dbo].[Vehicles] ([vehicleNo], [vehicleName], [vehicleCapacity], [vehicleDriver], [vehicleExpense], [personelNo]) VALUES (16, N'Audi Q7', 7, N'Bilge Erdoğan', 3100.0000, 13)
INSERT [dbo].[Vehicles] ([vehicleNo], [vehicleName], [vehicleCapacity], [vehicleDriver], [vehicleExpense], [personelNo]) VALUES (17, N'Skoda Kodiaq', 7, N'Cem Özdemir', 2600.0000, 14)
INSERT [dbo].[Vehicles] ([vehicleNo], [vehicleName], [vehicleCapacity], [vehicleDriver], [vehicleExpense], [personelNo]) VALUES (18, N'Citroen Jumper', 10, N'Esra Yavuz', 2200.0000, 15)
INSERT [dbo].[Vehicles] ([vehicleNo], [vehicleName], [vehicleCapacity], [vehicleDriver], [vehicleExpense], [personelNo]) VALUES (19, N'Dacia Dokker', 5, N'Fatih Koç', 1800.0000, 16)
INSERT [dbo].[Vehicles] ([vehicleNo], [vehicleName], [vehicleCapacity], [vehicleDriver], [vehicleExpense], [personelNo]) VALUES (20, N'Kia Sorento', 7, N'Gizem Çetin', 2700.0000, 1)
INSERT [dbo].[Vehicles] ([vehicleNo], [vehicleName], [vehicleCapacity], [vehicleDriver], [vehicleExpense], [personelNo]) VALUES (21, N'Volvo XC90', 7, N'Hakan Özkan', 2900.0000, 5)
INSERT [dbo].[Vehicles] ([vehicleNo], [vehicleName], [vehicleCapacity], [vehicleDriver], [vehicleExpense], [personelNo]) VALUES (22, N'Mazda CX-9', 7, N'İrem Yalçın', 2800.0000, 16)
INSERT [dbo].[Vehicles] ([vehicleNo], [vehicleName], [vehicleCapacity], [vehicleDriver], [vehicleExpense], [personelNo]) VALUES (23, N'Chevrolet Captiva', 7, N'Kaan Aydın', 2500.0000, 15)
SET IDENTITY_INSERT [dbo].[Vehicles] OFF
GO

# [FK_Customer_Shipment]

In [0]:
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [FK_Customer_Shipment] FOREIGN KEY([shipmentNo])
REFERENCES [dbo].[Shipment] ([shipmentNo])
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [FK_Customer_Shipment]
GO

# [FK_Shipment_Vehicles]

In [0]:
ALTER TABLE [dbo].[Shipment]  WITH CHECK ADD  CONSTRAINT [FK_Shipment_Vehicles] FOREIGN KEY([vehiclesNo])
REFERENCES [dbo].[Vehicles] ([vehicleNo])
GO
ALTER TABLE [dbo].[Shipment] CHECK CONSTRAINT [FK_Shipment_Vehicles]
GO

# [FK_Vehicles_Personel]

In [0]:
ALTER TABLE [dbo].[Vehicles]  WITH CHECK ADD  CONSTRAINT [FK_Vehicles_Personel] FOREIGN KEY([personelNo])
REFERENCES [dbo].[Personel] ([PersonelNo])
GO
ALTER TABLE [dbo].[Vehicles] CHECK CONSTRAINT [FK_Vehicles_Personel]
GO

# [dbo].[cAdd]

In [0]:
/****** Object:  StoredProcedure [dbo].[cAdd]    Script Date: 3.09.2023 09:44:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[cAdd]
@CustomerName varchar(50),
@CustomerAdres varchar(50),
@CustomerPhone char(11),
@CustomerMail varchar(50),
@CustomerPayment money,
@shipmentNo int
as begin
insert into Customer (CustomerName,CustomerAdres,CustomerPhone,CustomerMail,CustomerPayment,shipmentNo) values (@CustomerName,@CustomerAdres,@CustomerPhone,@CustomerMail,@CustomerPayment,@shipmentNo)
end
GO

# [dbo].[cDelete]

In [0]:
/****** Object:  StoredProcedure [dbo].[cDelete]    Script Date: 3.09.2023 09:44:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[cDelete]
@CustomerNo int
as begin
delete from Customer where CustomerNo=@CustomerNo 
end
GO

# [dbo].[cList]

In [0]:
/****** Object:  StoredProcedure [dbo].[cList]    Script Date: 3.09.2023 09:44:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[cList]
as begin
select * from Customer
end
GO

# [dbo].[cSearch]

In [0]:
/****** Object:  StoredProcedure [dbo].[cSearch]    Script Date: 3.09.2023 09:44:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[cSearch]
@CustomerName varchar(50)
as begin
select * from Customer where CustomerName like '%'+@CustomerName+'%'
end
GO

# [dbo].[cUpdate]

In [0]:
/****** Object:  StoredProcedure [dbo].[cUpdate]    Script Date: 3.09.2023 09:44:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[cUpdate]
@CustomerNo int,
@CustomerName varchar(50),
@CustomerAdres varchar(50),
@CustomerPhone char(11),
@CustomerMail varchar(50),
@CustomerPayment money,
@shipmentNo int
as begin
update Customer set CustomerName=@CustomerName,CustomerAdres=@CustomerAdres,CustomerPhone=@CustomerPhone,CustomerMail=@CustomerMail,CustomerPayment=@CustomerPayment,shipmentNo=@shipmentNo where CustomerNo=@CustomerNo
end
GO

# [dbo].[cusAvg]

In [0]:
/****** Object:  StoredProcedure [dbo].[cusAvg]    Script Date: 3.09.2023 09:44:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[cusAvg]
as begin
select avg(CustomerPayment) as 'Musteri Ödeme Ortalaması'  from Customer
end
GO

# [dbo].[cusin]

In [0]:
/****** Object:  StoredProcedure [dbo].[cusin]    Script Date: 3.09.2023 09:44:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[cusin]
as begin
select  top 1 * from Customer order by CustomerPayment
end
GO

# [dbo].[cusMax]

In [0]:
/****** Object:  StoredProcedure [dbo].[cusMax]    Script Date: 3.09.2023 09:44:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[cusMax]
as begin
select  top 1 * from Customer order by CustomerPayment desc
end
GO

# [dbo].[pAdd]

In [0]:
/****** Object:  StoredProcedure [dbo].[pAdd]    Script Date: 3.09.2023 09:44:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[pAdd]
@PersonelName varchar(50),
@PersonelDuty varchar(50),
@PersonelTitle varchar(50),
@PersonelTel char(11),
@PersonelMail varchar(50),
@PersonelSalary int
as begin
insert into Personel (PersonelName,PersonelDuty,PersonelTitle,PersonelTel,PersonelMail,PersonelSalary)  values (@PersonelName,@PersonelDuty,@PersonelTitle,@PersonelTel,@PersonelMail,@PersonelSalary)
end
GO

# [dbo].[pDelete]

In [0]:
/****** Object:  StoredProcedure [dbo].[pDelete]    Script Date: 3.09.2023 09:44:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[pDelete]
@PersonelNo int
as begin
delete from Personel where PersonelNo=@PersonelNo
end
GO

# [dbo].[perAvg]

In [0]:
/****** Object:  StoredProcedure [dbo].[perAvg]    Script Date: 3.09.2023 09:44:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[perAvg]
as begin
select avg(PersonelSalary) as 'Personel Ödeme Ortalaması'  from Personel
end
GO

# [dbo].[perMax]

In [0]:
/****** Object:  StoredProcedure [dbo].[perMax]    Script Date: 3.09.2023 09:44:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[perMax]
as begin
select  top 1 * from Personel order by PersonelSalary desc
end
GO

# [dbo].[perMin]

In [0]:
/****** Object:  StoredProcedure [dbo].[perMin]    Script Date: 3.09.2023 09:44:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[perMin]
as begin
select  top 1 * from Personel order by PersonelSalary
end
GO

# [dbo].[perSum]

In [0]:
/****** Object:  StoredProcedure [dbo].[perSum]    Script Date: 3.09.2023 09:44:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[perSum]
as begin
select sum(PersonelSalary) as 'Personel Maaş Ödeme Toplamı'  from Personel
end
GO

# [dbo].[pList]

In [0]:
/****** Object:  StoredProcedure [dbo].[pList]    Script Date: 3.09.2023 09:44:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[pList]
as begin
select * from Personel
end
GO

# [dbo].[pUpdate]

In [0]:
/****** Object:  StoredProcedure [dbo].[pUpdate]    Script Date: 3.09.2023 09:44:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[pUpdate]
@PersonelNo int,
@PersonelName varchar(50),
@PersonelDuty varchar(50),
@PersonelTitle varchar(50),
@PersonelTel char(11),
@PersonelMail varchar(50),
@PersonelSalary int
as begin
update Personel set PersonelName=@PersonelName,PersonelDuty=@PersonelDuty,PersonelTitle=@PersonelTitle,PersonelTel=@PersonelTel,PersonelMail=@PersonelMail,PersonelSalary=@PersonelSalary where PersonelNo=@PersonelNo
end
GO

# [dbo].[sAdd]

In [0]:
/****** Object:  StoredProcedure [dbo].[sAdd]    Script Date: 3.09.2023 09:44:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sAdd]
@shipmentName varchar(50),
@shipmentPickup varchar(50),
@shipmentTransport varchar(50),
@shipmentDistance int,
@shipmentAmount money,
@vehiclesNo int
as begin
insert into Shipment (shipmentName,shipmentPickup,shipmentTransport,shipmentDistance,shipmentAmount,
vehiclesNo) values (@shipmentName,@shipmentPickup,@shipmentTransport,@shipmentDistance,@shipmentAmount,
@vehiclesNo)
end
GO

# [dbo].[sDelete]

In [0]:
/****** Object:  StoredProcedure [dbo].[sDelete]    Script Date: 3.09.2023 09:44:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sDelete]
@shipmentNo int
as begin
delete from Shipment where shipmentNo=@shipmentNo
end
GO

# [dbo].[sevkMesafe]

In [0]:
/****** Object:  StoredProcedure [dbo].[sevkMesafe]    Script Date: 3.09.2023 09:44:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sevkMesafe]
as begin
SELECT MAX(shipmentDistance) AS EnUzunMesafe,
       AVG(shipmentDistance) AS OrtalamaMesafe,
       MIN(shipmentDistance) AS EnKisaMesafe,
	   SUM(shipmentDistance) as 'Toplam Mesafe'
FROM Shipment
end
GO

# [dbo].[sevkNoya]

In [0]:
/****** Object:  StoredProcedure [dbo].[sevkNoya]    Script Date: 3.09.2023 09:44:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sevkNoya]
@shipmentNo int
as begin
select * from Shipment where shipmentNo=@shipmentNo
end
GO

# [dbo].[shiAsc]

In [0]:
/****** Object:  StoredProcedure [dbo].[shiAsc]    Script Date: 3.09.2023 09:44:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[shiAsc]
as begin
select * from Shipment order by shipmentDistance asc
end
GO

# [dbo].[shiAvg]

In [0]:
/****** Object:  StoredProcedure [dbo].[shiAvg]    Script Date: 3.09.2023 09:44:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[shiAvg]
as begin
select avg(shipmentAmount) as 'Sevklerin Ortalama Ödemesi' from Shipment
end
GO

# [dbo].[shiCus]

In [0]:
/****** Object:  StoredProcedure [dbo].[shiCus]    Script Date: 3.09.2023 09:44:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[shiCus]
as begin
select c1.CustomerName,s1.shipmentName,s1.shipmentPickup,s1.shipmentTransport,s1.vehiclesNo from Shipment s1 join Customer c1 on s1.shipmentNo=c1.shipmentNo
end
GO

# [dbo].[shiCusNum]

In [0]:
/****** Object:  StoredProcedure [dbo].[shiCusNum]    Script Date: 3.09.2023 09:44:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[shiCusNum]
as begin
select s1.shipmentName,count(s1.shipmentNo) as 'Müşteri Sahibi Sayısı' from Shipment s1 join Customer c1 on s1.shipmentNo=c1.shipmentNo group by s1.shipmentName,c1.shipmentNo
end
GO

# [dbo].[shiDesc]

In [0]:
/****** Object:  StoredProcedure [dbo].[shiDesc]    Script Date: 3.09.2023 09:44:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[shiDesc]
as begin
select * from Shipment order by shipmentDistance desc
end
GO

# [dbo].[shiMax]

In [0]:
/****** Object:  StoredProcedure [dbo].[shiMax]    Script Date: 3.09.2023 09:44:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc	[dbo].[shiMax]	
as begin
select top 1 * from Shipment  order by shipmentAmount desc
end
GO

# [dbo].[shiMin]

In [0]:
/****** Object:  StoredProcedure [dbo].[shiMin]    Script Date: 3.09.2023 09:44:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[shiMin]
as begin
select top 1 * from Shipment  order by shipmentAmount 
end
GO

# [dbo].[shiSum]

In [0]:
/****** Object:  StoredProcedure [dbo].[shiSum]    Script Date: 3.09.2023 09:44:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[shiSum]
as begin
select sum(shipmentAmount) as 'Sevklerin Toplam Ödemesi' from Shipment
end
GO

# [dbo].[shiVeh]

In [0]:
/****** Object:  StoredProcedure [dbo].[shiVeh]    Script Date: 3.09.2023 09:44:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[shiVeh] --Hangi Araç Hangi Sevkte
as begin
select v1.personelNo,v1.vehicleName,s1.shipmentName from Shipment s1 join Vehicles v1 on s1.vehiclesNo=v1.vehicleNo
end
GO

# [dbo].[shiVehWho]

In [0]:
/****** Object:  StoredProcedure [dbo].[shiVehWho]    Script Date: 3.09.2023 09:44:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[shiVehWho] --Hangi Sevkte Kaç Araç Var
as begin
select s1.shipmentName, count(v1.vehicleNo) from Shipment s1 join Vehicles v1 on s1.vehiclesNo=v1.vehicleNo
group by s1.shipmentName,v1.vehicleNo
end
GO

# [dbo].[sList]

In [0]:
/****** Object:  StoredProcedure [dbo].[sList]    Script Date: 3.09.2023 09:44:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sList]
as begin
select * from Shipment
end
GO

# [dbo].[sNO]

In [0]:
/****** Object:  StoredProcedure [dbo].[sNO]    Script Date: 3.09.2023 09:44:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sNO]
as begin
select shipmentNo from Shipment
end
GO

# [dbo].[sUpdate]

In [0]:
/****** Object:  StoredProcedure [dbo].[sUpdate]    Script Date: 3.09.2023 09:44:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sUpdate]
@shipmentNo int,
@shipmentName varchar(50),
@shipmentPickup varchar(50),
@shipmentTransport varchar(50),
@shipmentDistance int,
@shipmentAmount money,
@vehiclesNo int
as begin
update Shipment set shipmentName=@shipmentName,shipmentPickup=@shipmentPickup,shipmentTransport=@shipmentTransport,shipmentDistance=@shipmentDistance,shipmentAmount=@shipmentAmount,vehiclesNo=@vehiclesNo where shipmentNo=@shipmentNo
end
GO

# [dbo].[ulogin]

In [0]:
/****** Object:  StoredProcedure [dbo].[ulogin]    Script Date: 3.09.2023 09:44:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[ulogin]
@UserName varchar(50),
@Password varchar(50)
as begin 
select *  from Login where UserName=@UserName and Password=@Password
end
GO

# [dbo].[vAdd]

In [0]:
/****** Object:  StoredProcedure [dbo].[vAdd]    Script Date: 3.09.2023 09:44:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[vAdd]
@vehicleName varchar(50),
@vehicleCapacity int,
@vehicleDriver varchar(50),
@vehicleExpense money,
@personelNo int
as begin
insert into Vehicles (vehicleName,vehicleCapacity,vehicleDriver,vehicleExpense,personelNo) values (@vehicleName,@vehicleCapacity,@vehicleDriver,@vehicleExpense,@personelNo)
end
GO

# [dbo].[vDelete]

In [0]:
/****** Object:  StoredProcedure [dbo].[vDelete]    Script Date: 3.09.2023 09:44:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[vDelete]
@vehicleNo int
as begin 
delete from Vehicles where vehicleNo=@vehicleNo
end
GO

# [dbo].[vehCap]

In [0]:
/****** Object:  StoredProcedure [dbo].[vehCap]    Script Date: 3.09.2023 09:44:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[vehCap]
as begin
select  
max(vehicleCapacity) as 'Araç Kapasitesi En Yüksek',
min(vehicleCapacity) as 'Araç Kapasitesi En Düşük',
Avg(vehicleCapacity) as 'Araç Kapasitesinin Ortalaması',
Sum(vehicleCapacity) as 'Araç Kapasitesinin Toplamı'
from Vehicles
end
GO

# [dbo].[vehDri]

In [0]:
/****** Object:  StoredProcedure [dbo].[vehDri]    Script Date: 3.09.2023 09:44:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[vehDri]
as begin
select  
vehicleNo,vehicleDriver,vehicleName
from Vehicles
end
GO

# [dbo].[vehExp]

In [0]:
/****** Object:  StoredProcedure [dbo].[vehExp]    Script Date: 3.09.2023 09:44:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[vehExp]
as begin
select  
max(vehicleExpense) as 'Araç Gider En Yüksek',
min(vehicleExpense) as 'Araç Gider En Düşük',
Avg(vehicleExpense) as 'Araç Giderinin Ortalaması',
Sum(vehicleExpense) as 'Araç Giderinin Toplamı'
from Vehicles
end
GO

# [dbo].[vehPer]

In [0]:
/****** Object:  StoredProcedure [dbo].[vehPer]    Script Date: 3.09.2023 09:44:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[vehPer]  --Hangi Personel Hangi Araçtandan Sorumlu
as begin
select p1.PersonelName,v1.vehicleName from Vehicles v1 join Personel p1 on v1.personelNo=p1.PersonelNo 
end
GO

# [dbo].[vList]

In [0]:
/****** Object:  StoredProcedure [dbo].[vList]    Script Date: 3.09.2023 09:44:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[vList]
as begin
select * from Vehicles
end
GO

# [dbo].[vUpdate]

In [0]:
/****** Object:  StoredProcedure [dbo].[vUpdate]    Script Date: 3.09.2023 09:44:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[vUpdate]
@vehicleNo int,
@vehicleName varchar(50),
@vehicleCapacity int,
@vehicleDriver varchar(50),
@vehicleExpense money,
@personelNo int
as begin
update Vehicles set vehicleName=@vehicleName,vehicleCapacity=@vehicleCapacity,vehicleDriver=@vehicleDriver,vehicleExpense=@vehicleExpense,personelNo=@personelNo where vehicleNo=@vehicleNo
end
GO

# [Cargo]

In [0]:
USE [master]
GO

In [0]:
ALTER DATABASE [Cargo] SET  READ_WRITE 
GO